@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --secondary: #101820;
    --: #eedaea;
    --accent: #cf6bdd;
    --primary: #292136;
    --primary-muted: #eedaea;
  }
  .light {
    --primary: #000000;
    --secondary: #ffffff;
    --accent: #fca311;
    --primary-muted: #222222;
    --secondary-muted: #dddddd;
    --accent-muted: #fca311b3;
  }
}
